{
    "env": {
        "browser": true,
        "node": false
    },

    "rules": {
        // Strict mode
        "strict": [2, "function"] // "global" in Node, "function" in a browser
    },

    "globals": {
        "jQuery": false,
        "$": false
    }
}
